/*Colores
	#5101FF Azul
	#8901E8 Violeta
	#E801AE Violeta claro
	#FF0141 Rosa
*/
html{
	font-family: 'Muli', sans-serif;
}

.container{
	background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh; /*100 vh representa el alto total de la pantalla*/
    display: flex;  /*Los elementos de este container utilizan flexbox para posicionarse*/
    align-items: center;       /*Coloca los elementos del container en el centro*/
    justify-content: center;   
} 
.content{
	max-width: 960px;
	max-height: 500px;
	width: 100%;
	height: 100%;
	background-color: white;
	
}

td{
	border: solid 3px;        /*Afecta a todos los td de las tablas*/
}