/*Colores
	#5101FF Azul
	#8901E8 Violeta
	#E801AE Violeta claro
	52B35C Rosa
	#EAE8E8 gris
	#52B35C verde
*/
html{
	font-family: 'Muli', sans-serif;
}
a{
	text-decoration: none; /*text-decoration modifica el subrayado de los links*/
	color:#FF0141; /*Modifique el color de la fuente*/
}

a:link {
    text-decoration:none;
    color:	#5101FF;
}
a:visited {
    color:#E801AE;
}

a:hover{
    opacity: 0,8;
}
a:active{
	opacity: 0;
}
img{                           /*Ajusta la imagen a la pantalla*/
	max-width: 100%;
}
.container{
	background: #11998e;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #38ef7d, #11998e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh; /*100 vh representa el alto total de la pantalla*/
    display: flex;  /*Los elementos de este container utilizan flexbox para posicionarse*/
    align-items: center;       /*Coloca los elementos del container en el centro*/
    justify-content: center;
}
.content{
	font-size: 24px;
	max-width: 960px;
	max-height: 500px;
	width: 100%;
	height: 80vh;
	background-color: white;
	/*box-shadow: diferenciaHorizontal, diferenciaVertical, desenfoque amplitud color*/
	/*box-shadow: 0 3px 6px 3px #000;*/
	box-shadow: 0 3px 6px rgba(0,0,0.16), 0 3px 6px rgba(0,0,0.23);/* 0,16 y 0,23 porcentaje de opacidad*/
	border-radius: 10px;
	position: relative;
	padding: 1,8em;
	/*overflow: scroll;*/
	overflow-y: scroll;               /*Define el comportamiento del contenido que sale del elemento*/
	overflow-x: hidden;
}
/*Mobile first: Las paginas deben estar diseñadas pensando primero en pantallas pequeñas y luego ajustarlas a pantallas de computadoras mediante media queris*/
.content{
	padding: 1em;
}
td:nth-of-type(1){                     /*Seleccion en este caso el primero de los td que se encuentran uno al lado del otro*/
	/*background-color: red;*/
	font-size: 1,5em;                    /*Agranda la letra de los primero td despues de cada th*/
	font-weight: bold;                   /*Pone las letras en negritas*/
	color: #52B35C;
}
td{
	display: block;
	width: 100%;
}
th{
	display: none;
}
/*Mobile first*/
.title{
	text-transform: uppercase;  /*Modifica el texto de las etiquetas con clase titulo y uppercase pone las letras en mayusculas*/
    /*Capitalize pone las primeras letras de cada palabra en mayusculas
    lowercase todas en minusculas*/
		text-align: center;
}
.paragraph{
	line-height: 1,8em;    /*Modifica la altura de la linea*/
	font-weight: 400;      /*Modifica el tamaño de las letras*/
}
.table{
	width: 100%;/*Abarca todo el acho disponible de pantalla*/
	border-spacing: 0; /*Espaciado entre celda y celda*/
}
.table td , .table th{/*Aplica a todos los elementos td y th que esten dentro de una clase table*/
	padding: 1em;
	text-align: left;
}
.table tr:nth-child(even){/*odd impares, even pares*/
	background-color: #EAE8E8;
}
.fa-star{
	color: #FCC002;
}
.title-item{
	/*
	border-bottom-style: solid;    /*Defino las propiedes del borde: Estilo, ancho,color, y padding
	border-width: 2px;
	border-color: #52B35C;
	*/
	font-size: 20px;
	border-bottom: solid 2px #52B35C;  /*shorthand las pripedades no respetan un orden*/
	padding-bottom: 1em;
	/*padding arriba derecha abajo izquierda. Orden de prodiedads del shorthand del padding*/
	/*padding arribaAbajo derechaIzquerda Orden de prpiedades del shorthand del padding
	*/

}
.main-image{
	float: left; /*Hace que la imagen quede a la izquierda del texto*/
	margin-right: 1em; /*Agrega un espacio entre la imagen y el textos*/
}
.address{
	font-weight: bold;
	color: #52B35C;
	font-size: 1,2em;
	padding: 2em;
	display: inline-block;
}
.position{
	background-color: #52B35C;
	color: white;
	padding: 10px;
	border-radius: 2em;      /*Shorthand de border-radius*/
	/*
	border-top-left-radius: 2em;          /*Define el redondedo de las esquinas
	border-top-right-radius: 2em;
	border-bottom-right-radius: 2em;
	border-bottom-left-radius: 2em;
	*/
	margin: 0,5em;
}
.actions{
	position: absolute;
	top: 1em;
	right: 1em;
}
.close{
	height: 40px;
	width: 40px;
	color: white;
	border-radius: 70%;
	background-color: #52B35C;
	display: inline-block;
	box-shadow: 0 1px 2px rgba(0,0,0.16), 0 1px 2px rgba(0,0,0.23);
	font-weight: 300;
	cursor: pointer;
	display:flex;
	align-items: center;			/*align-items y justify-content centra los elementos*/
	justify-content: center;
}

/*Media queris*/
@media (min-width: 900px) {               /*Se cumplira solo en paginas que sean de un minimo de 900 pixeles*/
	th{
		display: table-cell;                  /*Muestra todas las celdas de la tabla*/
	}
	td{
		width: auto;
		display: table-cell;
	}
	td:nth-last-of-type(1){
		font-size: 1em;
	}
	.content{
		padding: 1,8em;
	}
}
@media (min-heigth: 550px) {              /*Se cumplira en pantalla que tengan como minimo 550px*/
	.content{
		height: 500px;                        /*Ajustara el content a 500 pixeles*/
	}
}






/*
	position:
	static:   no modifica la posicion del elemento
	relative  modifica la posicion del elemento segun los parametros top right left bottom
	absolut:  similar al fixed pero ajusta la imagen segun el scrolleo
	fixed     muestra el elemento siempre ajustado al viewport, lo muestra aunque se este scrolleando
	sticky    alterna entre absolut y fixed, cuando se scrollea y el elemento comienza a salirse del viewport
			  lo deja pegado en la pantalla
*/
/*
	Unidades de medida
		Absolutas:
			Pixeles (px)
			centimetros(cm)
			milimetros(mm)
			picas(pc)
			puntos(pt)

		Relativas:
			Porcentajes %: Relativa al tamaños del contenedor
			Em: Relativos al tamaño de la fuente
			Ex: Relativos al tamaño en alto de la letra x  minuscula de la fuente usada
			Rems: Similar a ems utilizan la fuente de la etiqueta html
			Relativas al viewport
				vW:Cada unidad equivale al 1% del tamaño del viewport
				vh: Cada unidad equivale al 1% del alto del viewport

*/
